<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modbus_Erik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Modbus_Erik.Properties.Settings>
            <setting name="VisuMaxValue" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="VisuMinValue" serializeAs="String">
                <value>-1000</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>"127.0.0.1"</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>"502"</value>
            </setting>
            <setting name="VisuDegrees" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="VisuDivisions" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VisuName" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
        </Modbus_Erik.Properties.Settings>
    </userSettings>
</configuration>